---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";
import { Image } from "astro:assets";
import ExperienceSection from "../components/ExperienceSection/ExperienceSection.astro";
import InfiniteLoop from "../components/InfiniteLoop/InfiniteLoop.astro";
import TrainingSection from "../components/TrainingSection/TrainingSection.astro";
import Work from "../components/Work/Work.astro";
import LolRank from "../components/LolRank/LolRank.astro";
import PhotoITook from "../components/PhotoItook/PhotoITook.astro";
import SpotifyPlaylist from "../components/SpotifyPlaylist/SpotifyPlaylist.astro";
import MiscLayout from "../layouts/MiscLayout.astro";

const homeEntries = await getCollection("home");
const credentials = await getCollection("credentials");

const {
  aboutMe_desc,
  aboutMe_title,
  aboutMe_pic,
  expertise,
  skills,
  training,
  tools,
  relatedProject,
  lolRank,
  photo_i_took,
  photo_i_took_title,
} = homeEntries[0].data;

const { instagram, email } = credentials[0].data;

const projectData = (await getEntries(relatedProject)).slice(0, 3);

const words = [...skills, ...tools, ...skills, ...tools, ...skills, ...tools];
---

<Layout
  title="About me - Ruben Letist - Digital Creative"
  description="Portfolio de Ruben Letist, Designer d'interface UX et UI et Développeur créatif"
>
  <header>
    <section class="aboutme">
      <Image
        src={aboutMe_pic[0]}
        alt={aboutMe_pic[1]}
        transition:animate="slide"
      />
      <div>
        <h1 transition:animate="slide">Ruben Letist</h1>
        <h2 transition:animate="slide">{aboutMe_title}</h2>
        <p transition:animate="slide">{aboutMe_desc}</p>
      </div>
    </section>
    <hr />
  </header>

  <main>
    <ExperienceSection experience={expertise} />
    <InfiniteLoop words={words} />
    <TrainingSection training={training} />
    <nav class="projects">
      {
        projectData.map(({ data }) => {
          return <Work {...data} />;
        })
      }
    </nav>
    <hr />
    <section class="misc">
      <PhotoITook
        photo_i_took={photo_i_took}
        photo_i_took_title={photo_i_took_title}
      />
      <div class="misc_other">
        <LolRank lolRank={lolRank} />
        <SpotifyPlaylist />
        <MiscLayout title="Instagram" link={instagram}>
          <Image
            class="expertise__background"
            src="/backgroundPerlin-white.png"
            alt="background expertise item"
            width={1920}
            height={1080}
          />
        </MiscLayout>
        <MiscLayout title="Contact me" link={`mailto:${email}`}>
          <Image
            class="expertise__background"
            src="/backgroundPerlin-white.png"
            alt="background expertise item"
            width={1920}
            height={1080}
          />
        </MiscLayout>
      </div>
    </section>
  </main>
</Layout>

<style>
  header {
    padding-top: 15rem;
  }

  section.aboutme {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
  }

  h1 {
    font-size: 6.8rem;
    margin: 0;
  }

  h2 {
    margin: 0;
    color: var(--grey-color);
  }

  section.aboutme p {
    font-size: 2.4rem;
    width: 60ch;
  }

  nav.projects {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
  }

  section.misc {
    display: flex;
    gap: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 4.8rem;
    & > div.misc_other {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.6rem;
    }

    & .expertise__background {
      opacity: 0.2;
    }
  }
</style>
