---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";
import ParodyCertified from "@/comp/ParodyCertified/ParodyCertified.astro";
import WorkHighlight from "@/comp/WorkHighlight/WorkHighlight.astro";
import Work from "@/comp/Work/Work.astro";
import TestimonialsContainer from "@/src/components/testionmials/TestimonialsContainer.astro";
import { Image } from "astro:assets";
import PhotoITook from "../components/PhotoItook/PhotoITook.astro";

const homeEntries = await getCollection("home");

const {
  title,
  subtitle,
  description,
  lastUpdate,
  schools,
  testimonials,
  relatedProject,
  aboutMe_desc,
  aboutMe_title,
  aboutMe_pic,
  expertise,
  training,
  lolRank,
  photo_i_took_title,
  photo_i_took,
  playlist,
  playlist_title,
  skills,
  skills_indevelopment,
  tools
} = homeEntries[0].data;

const credentials = (await getCollection("credentials"))[0].data;

const expertiseData = await getEntries(expertise);
const trainingData = await getEntries(training);

const projectData = await getEntries(relatedProject);

const lastDayPublish = new Intl.DateTimeFormat("fr-FR", {
  year: "numeric",
  month: "long",
  day: "numeric"
}).format(lastUpdate);

const randomNumbers: number[] = [];

while (randomNumbers.length < 7) {
  const randomNumber = Math.floor(Math.random() * 9);
  if (!randomNumbers.includes(randomNumber)) {
    randomNumbers.push(randomNumber);
  }
}

const firstStack = randomNumbers.slice(0, 3) as [number, number, number];
const secondStack = randomNumbers.slice(3, 6) as [number, number, number];
---

<Layout
  title="Ruben Letist - Digital Creative"
  description="Portfolio de Ruben Letist, Designer d'interface UX et UI et Développeur créatif"
>
  <header>
    <section class="nav_container">
      <strong>Ruben Letist</strong>
      <nav>
        <a href="#">Curriculum vitae</a>
        <a
          href={credentials.instagram}
          target="_blank"
          >Instagram</a
        >
        <a
          href={credentials.linkedin}
          target="_blank"
          >Linkedin</a
        >
      </nav>
    </section>

    <section class="hero">
      <div>
        <p>{description}</p>
        <p>
          Dernière mise à jour : {lastDayPublish}
        </p>
      </div>
      <div class="hero__title">
        <h1>{title}</h1>
        <h2>{subtitle}</h2>
      </div>
    </section>
    <hr />
    <footer>
      <ParodyCertified schools={schools} />
      <TestimonialsContainer
        testimonials={testimonials}
        randomNumberStack={firstStack}
      />
    </footer>
  </header>
  <main>
    <nav class="project_highlight">
      {
        projectData.slice(0, 2).map(({ data }) => {
          const { title, subTitle, heroImage, timing, heroImage_alt } = data;
          return (
            <WorkHighlight
              title={title}
              subTitle={subTitle}
              heroImage={heroImage}
              heroImage_alt={heroImage_alt}
              timing={timing}
            />
          );
        })
      }
    </nav>
    <TestimonialsContainer
      testimonials={testimonials}
      randomNumberStack={secondStack}
    />
    <nav class="projects">
      {
        projectData.slice(2, 5).map(({ data }) => {
          const { title, subTitle, heroImage, timing, heroImage_alt } = data;
          return (
            <Work
              title={title}
              subTitle={subTitle}
              heroImage={heroImage}
              timing={timing}
              heroImage_alt={heroImage_alt}
            />
          );
        })
      }
    </nav>
    <hr />
    <section class="aboutme">
      <div>
        <h3>{aboutMe_title}</h3>
        <p>{aboutMe_desc}</p>
      </div>
      <Image
        src={aboutMe_pic[0]}
        alt={aboutMe_pic[1]}
      />
    </section>
    <section class="expertise">
      {
        expertiseData.map(({ data }) => {
          const { title, date, location, timing, post, description } = data;
          return (
            <div>
              <Image
                class="expertise__background"
                src="/backgroundPerlin-white.png"
                alt="background expertise item"
                width={1920}
                height={1080}
              />
              <div>
                <h3>{title}</h3>
                <div>
                  <p>
                    {location} - {timing}
                  </p>
                  <p>{post}</p>
                  {description ? (
                    <p class="expertise_desc">{description}</p>
                  ) : null}
                </div>
              </div>
              <span class="expertise_date">{date}</span>
            </div>
          );
        })
      }
    </section>
    <section class="infinite__loop">
      <span>
        {
          [
            ...tools,
            ...skills,
            ...skills_indevelopment,
            ...tools,
            ...skills,
            ...skills_indevelopment,
            ...tools,
            ...skills,
            ...skills_indevelopment
          ].map((tool) => {
            return <span class="infinite__loop__content">{tool} </span>;
          })
        }
      </span>
    </section>
    <section class="training">
      {
        trainingData.map(({ data }) => {
          const { title, date, location, option, result, projects } = data;
          return (
            <div>
              <Image
                class="expertise__background"
                src="/backgroundPerlin-white.png"
                alt="background expertise item"
                width={1920}
                height={1080}
              />
              <div>
                <h3>
                  {title} - {location}
                </h3>
                <div class="training_desc">
                  <p>{option}</p>
                  <strong>{result}</strong>
                  {projects?.map(([title, description]) => {
                    return (
                      <div class="project">
                        <h4>{title}</h4>
                        <p>{description}</p>
                      </div>
                    );
                  }) ?? ""}
                </div>
              </div>
              <span class="expertise_date">{date}</span>
            </div>
          );
        })
      }
    </section>

    <section class="misc">
      <PhotoITook
        photo_i_took_title={photo_i_took_title}
        photo_i_took={photo_i_took}
      />
      <div>
        <a
          href={lolRank[1]}
          target="_blank"
        >
          <h3>
            {lolRank[0]}
          </h3>
        </a>
      </div>
      <div>
        <a
          href={playlist}
          target="_blank"
        >
          <h3>
            {playlist_title}
          </h3>
        </a>
      </div>
    </section>
  </main>
</Layout>

<style>
  section.nav_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
  }

  section.nav_container strong {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  section.nav_container nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
  }

  div.hero__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 70%;
  }

  h1 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }

  @media screen and (min-width: 769px) {
    h1 {
      font-size: 8.8rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    color: var(--grey-color);
    font-weight: 400;
  }
  header {
    margin-bottom: 2.4rem;
  }

  header > footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

  section.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 40dvh;
  }

  section.hero div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section.hero p {
    max-width: 35ch;
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--grey-color);
  }

  nav.project_highlight,
  nav.projects {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
  }

  nav.projects {
    margin-top: 1.6rem;
    margin-bottom: 4.8rem;
  }

  section.aboutme {
    margin-bottom: 4.8rem;
    display: flex;
    justify-content: flex-end;
    gap: 2.4rem;
  }

  section.aboutme div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 50ch;
  }

  section.aboutme div p {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.4;
  }

  section.aboutme div h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--grey-color);
  }

  section.training,
  section.expertise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-right: auto;
    margin-bottom: 2.4rem;
    margin-left: auto;

    & > div {
      --padding-x: 3.2rem;
      --padding-y: 2.4rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.8rem;

      position: relative;
      z-index: -1;
      border-radius: 0.8rem;
      overflow: hidden;
      padding-top: var(--padding-y);
      padding-right: var(--padding-x);
      padding-bottom: var(--padding-y);
      padding-left: var(--padding-x);
      flex: 1;
      background-color: rgb(244, 244, 244);

      & .expertise_date {
        font-size: 2rem;
        color: var(--grey-color);
      }

      & > img.expertise__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        opacity: 0.15;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        & h3 {
          margin: 0;
          padding: 0;
          font-size: 2rem;
          font-weight: 600;
          color: var(--black-color);
        }
        & > div {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          & p {
            margin: 0;
            font-size: 1.6rem;
            color: var(--grey-color);
          }
        }
      }
      &:first-child {
        flex-direction: row;
        flex: 0 0 calc(100% - var(--padding-x) * 2);
        & > div {
          & > h3 {
            font-size: 3.2rem;
          }
          & > div {
            & > p {
              font-size: 2rem;
            }

            & > p.expertise_desc {
              padding-top: 0.8rem;
              font-size: 1.6rem;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  section.training {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 4.8rem;
    & > div {
      flex: 1;
      & strong {
        color: var(--beige-color);
      }
      & div.training_desc {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        & > div {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          & h4 {
            margin: 0;
            padding: 0;
          }
          & p {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .infinite__loop {
    width: 100%;
    white-space: nowrap;
    position: relative;
    left: 0;
    margin-bottom: 2.4rem;
    overflow: hidden;

    & > span {
      display: inline-block;
      animation: infiniteloop infinite 30s linear;
      & > .infinite__loop__content {
        font-size: 2.1rem;
        color: var(--grey-color);
        margin-right: 1.2rem;
      }
    }
  }

  @media screen and (max-width: 769px) {
    .infinite__loop {
      width: calc(100vw - 21px);
    }
  }

  @keyframes infiniteloop {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  section.misc {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 4.8rem;

    & > div {
      position: relative;
      flex: 1;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 2.4rem;
      background-color: var(--grey-color);

      & a {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
      }

      & h3 {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 1.6rem;
        right: 2.4rem;
        color: var(--white-color);
      }
    }
  }
</style>
