---
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
import { getEntries, getEntry } from "astro:content";
import ParodyCertified from "@/comp/ParodyCertified/ParodyCertified.astro";
import WorkHighlight from "@/comp/WorkHighlight/WorkHighlight.astro";
import Work from "@/comp/Work/Work.astro";
import TestimonialsContainer from "@/comp/testionmials/TestimonialsContainer.astro";
import InfiniteLoop from "@/comp/InfiniteLoop/InfiniteLoop.astro";
import { Image } from "astro:assets";
import ExperienceSection from "../components/ExperienceSection/ExperienceSection.astro";

const homeEntries = await getEntry("home", "home");

const {
  title,
  subtitle,
  description,
  lastUpdate,
  schools,
  testimonials,
  relatedProject,
  aboutMe_desc,
  aboutMe_title,
  aboutMe_pic,
  expertise,
  skills,
  skills_indevelopment,
  tools,
} = homeEntries.data;

const projectData = await getEntries(relatedProject);

const lastDayPublish = new Intl.DateTimeFormat("fr-FR", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(lastUpdate);

const randomNumbers: number[] = [];

while (randomNumbers.length < 7) {
  const randomNumber = Math.floor(Math.random() * 9);
  if (!randomNumbers.includes(randomNumber)) {
    randomNumbers.push(randomNumber);
  }
}

const words = [
  ...tools,
  ...skills,
  ...skills_indevelopment,
  ...tools,
  ...skills,
  ...skills_indevelopment,
  ...tools,
  ...skills,
  ...skills_indevelopment,
];

const firstStack = randomNumbers.slice(0, 3) as [number, number, number];
const secondStack = randomNumbers.slice(3, 6) as [number, number, number];
---

<Layout
  title="Ruben Letist - Digital Creative"
  description="Portfolio de Ruben Letist, Designer d'interface UX et UI et Développeur créatif"
>
  <header>
    <section class="hero">
      <div>
        <p>{description}</p>
        <p>
          Dernière mise à jour : {lastDayPublish}
        </p>
      </div>
      <div class="hero__title">
        <h1>{title}</h1>
        <h2>{subtitle}</h2>
      </div>
    </section>
    <hr />
    <footer>
      <ParodyCertified schools={schools} />
      <TestimonialsContainer
        testimonials={testimonials}
        randomNumberStack={firstStack}
      />
    </footer>
  </header>
  <main>
    <nav class="project_highlight">
      {
        projectData.slice(0, 2).map(({ data }) => {
          return <WorkHighlight transition:animate={"initial"} {...data} />;
        })
      }
    </nav>
    <TestimonialsContainer
      transition:animate={slide({ duration: 350 })}
      testimonials={testimonials}
      randomNumberStack={secondStack}
    />

    <hr />
    <section class="aboutme" transition:animate="initial">
      <div>
        <h3>{aboutMe_title}</h3>
        <p>{aboutMe_desc}</p>
        <a href="/aboutme">A propos de moi</a>
      </div>
      <Image
        src={aboutMe_pic[0]}
        alt={aboutMe_pic[1]}
        transition:animate="slide"
      />
    </section>

    <InfiniteLoop words={words} />

    <ExperienceSection experience={expertise} />

    <hr />
    <nav class="projects">
      {
        projectData.slice(2, 5).map(({ data }) => {
          return <Work {...data} />;
        })
      }
    </nav>
  </main>
</Layout>

<style>
  div.hero__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 70%;
  }

  h1 {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }

  @media screen and (min-width: 769px) {
    h1 {
      font-size: 8.8rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    color: var(--grey-color);
    font-weight: 400;
  }
  header {
    margin-bottom: 2.4rem;
  }

  header > footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  section.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 35dvh;
  }

  section.hero div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section.hero p {
    max-width: 35ch;
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--grey-color);
  }

  nav.project_highlight,
  nav.projects {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
  }

  nav.projects {
    margin-top: 1.6rem;
    margin-bottom: 4.8rem;
  }

  section.aboutme {
    margin-bottom: 4.8rem;
    display: flex;
    justify-content: flex-end;
    gap: 2.4rem;

    & div {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 60ch;
    }

    & div p {
      margin: 0;
      font-size: 2.8rem;
      line-height: 140%;
    }

    & div h3 {
      margin: 0;
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--grey-color);
    }
  }

  section.misc {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
  }
</style>
