---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props
  extends Pick<
    CollectionEntry<"projects">["data"],
    "title" | "subTitle" | "heroImage" | "heroImage_alt" | "timing"
  > {
  link?: string;
}

const { title, link, subTitle, heroImage, heroImage_alt, timing } = Astro.props;
---

<a href="#">
  <section>
    <div class="section_gradientBackground"></div>
    <Image
      class="background"
      src="/backgroundPerlin-white.png"
      alt="Background Perlin Noise"
      width="1920"
      height="1080"
    />
    <div>
      <h3>{title}</h3>
      <p>{subTitle}</p>
      {timing ? <p>{timing}</p> : null}
    </div>
    <Image class="hero-image" src={heroImage} alt={heroImage_alt} />
  </section>
</a>

<style>
  :root {
    --hero-transition: 300ms ease-out;
  }

  a {
    --hero-Grey-color: rgb(82, 82, 82);
    all: unset;
    display: block;
    background-color: var(--hero-Grey-color);
    border-radius: 2.4rem;
    width: 100%;
    overflow: hidden;
    transition: var(--hero-transition);
    cursor: pointer;
    transition: var(--hero-transition);
    aspect-ratio: 1.75/1;
    flex: auto;
  }

  a:hover {
    translate: 0 -0.4rem;
  }

  section {
    --padding-y: 2.4rem;
    --padding-x: 3.2rem;
    position: relative;
    height: 100%;
    padding-top: var(--padding-y);
    padding-right: var(--padding-x);
    padding-bottom: var(--padding-y);
    padding-left: var(--padding-x);
    overflow: hidden;
    z-index: 2;
  }

  section > .background,
  section > .section_gradientBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  section > .section_gradientBackground {
    background-image: radial-gradient(
      circle at bottom right,
      var(--beige-color) 15%,
      var(--hero-Grey-color) 100%
    );
    z-index: -1;
    opacity: 0;
    transition: var(--hero-transition);
  }

  a:hover > section > .section_gradientBackground {
    opacity: 0.6;
  }

  section > .background {
    object-fit: cover;
    z-index: 0;
    opacity: 0.3;
  }

  section > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
    z-index: 1;
  }

  h3 {
    all: unset;
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 700;
  }

  p {
    all: unset;
    color: hsla(0, 4%, 81%, 1);
    font-size: 1.4rem;
    font-weight: 400;
  }

  a:first-child .hero-image {
    width: 80%;
  }

  .hero-image {
    position: absolute;
    bottom: -2.4rem;
    right: 0;
    transition: var(--hero-transition);
    width: 95%;
    height: auto;
  }

  section:hover .hero-image {
    transform: scale(1.03);
    bottom: 2.6rem;
  }
</style>
